In [1]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
url1='https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv'
url2='https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv'
channel=pd.read_csv(url1)
video=pd.read_csv(url2)
type(channel)
type(video)

pandas.core.frame.DataFrame

In [3]:
display(channel)
display(video)

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [8]:
channel.ct=pd.to_datetime(channel.ct)
video.ct=pd.to_datetime(video.ct)

In [5]:
video.videoname.value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

In [15]:
video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep='last')[['viewcnt','videoname','ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

In [16]:
channel.sort_values(['ct','channelname']).loc[channel.ct>=pd.to_datetime('2021-10-03')][['channelname','subcnt']].drop_duplicates('channelname').reset_index(drop=True)

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

In [18]:
start=channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H')=='2021-10-03 03'][['channelname','subcnt']].reset_index(drop=True)
end=channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H')=='2021-11-01 15'][['channelname','subcnt']].reset_index(drop=True)
start.columns=['channelname','start_sub']
end.columns=['channelname','end_sub']
total=pd.merge(start,end)
total['delta']=total['end_sub']-total['start_sub']
total[['channelname','delta']]

        channelname  delta
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

In [17]:
import datetime
EP_1=video.sort_values('ct').loc[video.videoname.str.contains('EP1')].reset_index(drop=True)
EP_1.loc[(EP_1.ct.diff(1)>=datetime.timedelta(minutes=20)) | (EP_1.ct.diff(1)<=datetime.timedelta(minutes=5))]
EP_1.loc[EP_1.index.isin([720,721,722,723,1635,1636,1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

In [26]:
video['date']=video.ct.dt.strftime('%Y-%m-%d')
video.sort_values(['ct','videoname'])[['date','videoname']].drop_duplicates('videoname')

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

In [28]:
video.sort_values(['ct','videoname','viewcnt'],ascending=False).loc[video.ct.dt.strftime('%H:%M')=='21:00'][['videoname','viewcnt','ct']].drop_duplicates('videoname',keep='last').reset_index(drop=True)

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP6   213899 2021-10-23 21:00:06
3    공범 EP5   201179 2021-10-21 21:00:04
4    공범 EP4   217674 2021-10-16 21:00:04
5    공범 EP3   147183 2021-10-14 21:00:04
6    공범 EP2   148144 2021-10-09 21:00:03
7    공범 EP1   117340 2021-10-07 21:00:03

In [50]:
target=video.sort_values('ct').drop_duplicates('videoname',keep='last')
target['ratio']=target.dislikecnt/target.likecnt
target.sort_values('ratio')[['videoname','ratio']].reset_index(drop=True)

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

In [50]:
target=video.loc[(video.ct>=pd.to_datetime('2021-11-01 00:00:00'))&(video.ct<=pd.to_datetime('2021-11-01 15:00:00'))].reset_index(drop=True)
target[['videoname','viewcnt']].groupby('videoname').max()-target[['videoname','viewcnt']].groupby('videoname').min()

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

In [51]:
answer  = video[video.index.isin(set(video.index) -  set(video.drop_duplicates().index))]
result = answer[['videoname','ct']]
display(result)

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37